<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 4
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="GitHub"></app-explore-container>
  <ion-img src="https://th.bing.com/th/id/R.fb0a0d09fadb0ec28a71c5cec879b83c?rik=s2LZp9svJ2s%2frw&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2f1%2f1e%2fOrange_tuned_Toyota_Supra.jpg&ehk=4MGjGld9AqlgeJ95gDHLSFgxtqkIe0dkm%2fDF0Q1IrM8%3d&risl=&pid=ImgRaw&r=0"
    alt="The Supra Mk4"></ion-img>
</ion-content>